input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}
/*input标签默认值字体颜色*/
input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #B6B6B6;
}
input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #B6B6B6;
}
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #B6B6B6;
}
input::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #B6B6B6;
}





body{
    background-color: #F2F1F6;
}
#container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #F2F1F6;
    padding-top: 10px;
}
#info{
    width: 94%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 24px;
    padding-top: 20px;
}
.info{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-left: 20px;
}
.info li{
    width: 100%;
    border-bottom: 1px solid #F6F6F6;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-family: "微软雅黑";
    display: block;
}
.info li span{
    width: 24%;
    text-align: left;
    display: inline-block;
}
.info li input{
    width: 66%;
    height: 30px;
    display: inline-block;
    border:none;
    outline: none;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #4B4B4B;
    line-height: 30px;
}
.info-title{
    width: 60%!important;
    font-size: 14px;
    color: #B6B6B6;
}
.right{
    width: 70%;
    display: inline-block;
    height: 30px;
    text-align: right;
    font-size: 18px;
    color: #B6B6B6;
    line-height: 30px;
}
#checkbox{
    font-size: 14px;
    color: #B6B6B6;
    padding-top: 26px;
    padding-bottom: 22px;
    line-height: 14px;
}
.checkbox{
    margin-right: 4px;
    background-color: white;
}

input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 15px;
    height: 14px;
    position: relative;
}
input[type=checkbox]:after {
    position: absolute;
    width: 10px;
    height: 15px;
    top: 0;
    content: " ";
    background-color: white;
    color: #04BD00;
    display: inline-block;
    visibility: visible;
    padding: 0px 3px;
    border-radius: 3px;
    border: 1px solid #E7E7E7;
}
input[type=checkbox]:checked:after {
    content: "✓";
    font-size: 12px;
}

#checkbox a{
    color: #2475d9;
    padding-left: 4px;
    line-height: 14px;
}
.btn{
    width: 86%;
    height: 40px;
    background-color: #04BD00;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    font-family: 微软雅黑;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 40px;
    letter-spacing:1px;
}
.foot{
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.foot-pro{
    padding-top: 70px;
    padding-bottom: 60px;
    font-size: 16px;
    color: #8B8A8F;
    text-align: center;
}

@media (max-width: 320px) {
    .info li span{
        width: 30%;
    }
    .info li input{
        width: 66%;
    }
    .right{
        width: 64%;
    }
}


#top{
    width: 94%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: white;
    padding-top: 24px;
}
.top{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-left: 20px;
}
.top-title{
    width: 100%;
    border-bottom: 1px solid #F6F6F6;
    font-size: 14px;
    font-family: "微软雅黑";
    display: block;
    padding-left: 4px;
    padding-right: 26px;
    padding-bottom: 10px;
}
.top-title p{
    padding-top: 4px;
    padding-bottom: 4px;
}
.top-user{
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 170, 0);
}